.gitignore

# Useless
.ipynb_checkpoints/
__pycache__/
*.py[cod]
venv/
.env/
data/template/__pycache__/*.pyc

## Uncleaned sections
# Mind2Web

# AITW

# MiniWob
synapse/
test_miniwob.py

# Personal
push.sh

# AMEX
datasets/AMEX/
datasets/ShowUI-web/
